<div class="container mt-3" *ngIf="album">
      <h2> Description de chaque Album </h2>
      <div class="card mt-3 mb-3">
            <div class="card-header"> {{ album.ref }} </div>
            <div class="card-body">
                  <div class="card-title">
                        <small class="text-decoration-underline">Title</small> :{{ album.title }}
                  </div>
                  <div class="card-text">
                        <p class="mt-3"></p><small class="text-decoration-underline">Name</small> :{{ album.name }}</p>
                        <p class="mt-3"> {{ album.description }} </p>
                        <p class="mt-3"><small class="text-decoration-underline">Duration</small> :{{ album.duration
                              'not duration' }} </p>
                  </div>
                  <p class="mt-3"><small class="text-decoration-underline">Duration</small> :{{ album.duration
                        'not duration' }} </p>
                  <p class="mt-3"><small class="text-decoration-underline">Like</small> :{{ album.like || 'not like' }}
                  </p>
                  <ul class="list-group list-group-horizontal" *ngIf="album.tags">
                        <li class="list-group-item" *ngFor="let tag of album.tags"> {{ tag || 'not tag' }} </li>
                  </ul>
            </div>
            <div class="card-footer">
                  <img src=" {{ album.url }} " alt="Image de chaque album">
            </div>
      </div>
      <div class="btn-group mb-3">
            <a routerLink="./" class="btn btn-outline-primary">Go to the home page</a>
      </div>
</div>